* {
    margin: 0;
    padding: 0;
}
.logo {
    width: 80px;
    margin: 10px;
}
.ulformb {
    display: flex;
    list-style: none;
}
.ulformb li {
    margin-right: 20px;
}
.ulformb a {
    text-decoration: none;
    color: black;
    position: relative;
}
.ulformb a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -2px;
    left: 50%;
    background-color: black;
    transition: width 0.3s ease, left 0.3s ease;
}
.ulformb a:hover::after {
    width: 100%;
    left: 0;
}
#hmmb {
    content: '';
    position: absolute;
    width: 0;
    height: 0px;
    bottom: 0px;
    left: 0;
    transition: 0;
    background-color: aqua;
    display: flex;
}
